@page
@{
    ViewData["Title"] = "Thank You";
}

<h1>Thank You!</h1>
<p>Thank you for registering! Your account has been created successfully. You may not access user features</p>

<a href="@Url.Action("Index", "Home")">Return to Home Page</a>
