@model GearGauge.ViewModels.ContactUsViewModel

@* <div id="thankYouMessage" style="display:none;"> *@
    <h2>Thank You!</h2>
    <p>Your message has been successfully sent.</p>
  
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home Page</a>

@* </div> *@