@using GearGauge.Models;
@model GearInventory;

<h1>Add New Gear</h1>

<form asp-controller="GearInventory" asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MarketValue"></label>
        <input asp-for="MarketValue" class="form-control" />
        <span asp-validation-for="MarketValue" class="text-danger"></span>
    </div>
    @*<div class="form-group">
        <label asp-for="ImageFile">Upload Image</label>
        <input asp-for="ImageFile" class="form-control-file" type="file" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>*@
   @** <div class="form-group">
        <label asp-for="SelectedTagIds">Select Tags</label>
        <select asp-for="SelectedTagIds" class="form-control" asp-items="Model.AvailableTags" multiple></select>
    </div>*@
    <button type="submit" class="btn btn-primary">Add Gear</button>
</form>
@*@if (Model.ImagePath != null)
{
    <h3>Image Preview</h3>
    <img src="@Model.ImagePath" alt="@Model.Title" style="width: 200px; height: auto;" />
}*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
