@using GearGauge.ViewModels
@model AddGearInventoryViewModel

<h1>Add Gear Inventory</h1>

<form asp-controller="GearInventory" enctype ="multipart/form-data" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MarketValue"></label>
        <input asp-for="MarketValue" class="form-control" />
        <span asp-validation-for="MarketValue" class="text-danger"></span>
    </div>
    <div class="form-group">
       <label asp-for="ImageFile">Image</label>
       <div class="custom-file">
       <input asp-for="ImageFile" class="custom-file-input" id="FLImageFile">
       <label class="custom-file-label" for="FLImageFile">Choose File</label>
    </div>
    <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <input type="submit" value="Add Gear Inventory" />
</form>