@using GearGauge.Models
@model List<MusicItem>

    <h1>Gear Gauge</h1>

    <p>
        <a asp-controller="GearInventory" asp-action="Add">Add Gear Inventory</a>
    </p>

    @if(Model.Count == 0)
    {
        <p>No Gear Inventory yet!</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    MarketValue
                </th>
            </tr>
            @foreach (var evt in Model)
            {
                <tr>
                   
                    <td><a asp-controller="MusicItem" asp-action="Detail" asp-route-id="@evt.Id">@evt.Title</a></td>
                    <td>@evt.Description</td>
                    <td>@evt.MarketValue</td>
                </tr>
            }
        </table>

    }
