@model IEnumerable<GearGauge.Models.Favorites>

<h1>My Favorites</h1>

@if (Model.Any())
{
    <ul class="list-group">
        @foreach (var favorite in Model)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a asp-controller="Favorites" asp-action="List" asp-route-id="@favorite.GearInventory">
                    @favorite.GearInventory.Title
                </a>
                @* <form asp-action="RemoveFromFavorites" asp-route-id="@favorite.GearInventoryId" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                </form> *@
            </li>
        }
    </ul>
}
else
{
    <p>You haven't added any gear to your favorites yet.</p>
}