@using GearGauge.ViewModels
@model MusicItem


<h1>Delete Music Item</h1>

<form method="post">
    @foreach (var evt in ViewBag.MusicItems)
    {
        <div class="form-group">
            <label>
                <span>@evt.Title</span>
                <input type="checkbox" name="musicItemIds" value="@evt.Id" />
            </label>
        </div>
    }

        <input type="submit" value="Delete Selected Music Items" class="btn btn-danger" />
</form>