@model GearGauge.Models.Watchlist

<form asp-action="AddToWatchlist" method="post">
    <div>
        <label asp-for="FormField"></label>
        <input asp-for="FormField" class="form-control" />
    </div>
    <div>
        <label asp-for="NotificationField"></label>
        <input asp-for="NotificationField" class="form-control" type="checkbox" />
    </div>
    <div>
        <label asp-for="LikedItems"></label>
        <input asp-for="LikedItems" class="form-control" />
    </div>
    <div>
        <label asp-for="RedExclamation"></label>
        <input asp-for="RedExclamation" class="form-control" type="checkbox" />
    </div>
    <div>
        <label asp-for="Tag"></label>
        <input asp-for="Tag" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

