@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <body>
    <h3>Search for a Product</h3>
    <form asp-controller="ProductSearch" asp-action="PostSearch" method="POST">
        <input type="text" class="search-box" name="searchTerm" placeholder="Start typing...">
        <button type="submit">Search</button>
    </form>
    @if (ViewData.ContainsKey("ErrorMessage"))
    {
        <p style="color: red;">@ViewData["ErrorMessage"]</p>
    }
</body>
</div>
