@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <body>
    <h3>Search for a Product</h3>
    <form asp-controller="ProductSearch" asp-action="PostSearch" method="POST">
        <input type="text" class="search-box" name="searchTerm" placeholder="Start typing...">
        <button type="submit">Search</button>
    </form>
    @if (ViewData.ContainsKey("ErrorMessage"))
    {
        <p style="color: red;">@ViewData["ErrorMessage"]</p>
    }
    <br />
    <iframe width="1280" height="550" src="https://www.youtube.com/embed/FwYQouY25CA?list=PL6gRE6x7kQfqmrJZWqdCycBZ-39vrrP28&autoplay=1&mute=1" title="Fuzzy Shoegaze Delay | Sound Recipes #20" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <br />
    <br />
    <br />
    <br />
    
    @* <iframe width="1300" height="550" src="https://www.youtube.com/embed/EvNrP96fTpA?autoplay=1&mute=1" title="Lo Noom - Dreary (Live at Lighthouse Sounds)" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> *@
</body>
</div>
